/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2020, 1:10:21 AM
    Author     : NAMBI
*/
.bg-layout {
	background-image: url('../img/bg_home_new_2.png');
	background-size: 100% auto;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.bg-layout {
		background-image: none;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.bg-layout {
		background-image: none;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.bg-layout {
		background-image: none;
	}

}

/* TITLE*/
.text-shadow {
	text-shadow: #c9c9c9 2px 0 2px;
	font-weight: bold;
}

/* DIVIDER */
.divider3 {
	padding: 2px 0px 1px 0px;
	display: block;
}

.divider5 {
	padding: 2px 0px 3px 0px;
	display: block;
}

.divider10 {
	padding: 5px 0px 5px 0px;
	display: block;
}

.divider-line-thin {
	margin: 0px;
	margin-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	border-width: 1px;
	border-color: #dedede;
}

.divider-line-semi-bold {
	margin: 0px;
	margin-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	border-width: 2px;
	border-color: #bbbbbb;
}

.divider-line-bold {
	margin: 0px;
	margin-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	border-width: 3px;
	border-color: #797979;
}
